****Data Cleaning**** csv

Identifikasi data mentah

In [1]:
import pandas as pd
df = pd.read_csv("D:/rag_chatbot_covid_19/data/raw/covid_19_indonesia_time_series_all.csv")
df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,192.31%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,182.93%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,1,0,1,...,0.511648,0.16,0.16,0.0,0.00,0.00,0.00%,100.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,174.42%,1.0,1.0

In [2]:
print(df.columns)

Index(['Date', 'Location ISO Code', 'Location', 'New Cases', 'New Deaths',
       'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths',
       'Total Recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'Total Deaths per 100rb', 'Case Fatality Rate', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths'],
      dtype='object')

Memilih data kolom yang paling relavan

In [3]:
kolom_pilihan = df[['Date', 'Province', 'New Cases', 'New Deaths', 'New Recovered', 'Total Cases', 'Total Deaths', 'Total Recovered', 'Case Fatality Rate', 'Case Recovered Rate', 'Population']]
kolom_pilihan.head()

,Date,Province,New Cases,New Deaths,New Recovered,Total Cases,Total Deaths,Total Recovered,Case Fatality Rate,Case Recovered Rate,Population
0,3/1/2020,DKI Jakarta,2,0,0,39,20,75,51.28%,192.31%,10846145
1,3/2/2020,DKI Jakarta,2,0,0,41,20,75,48.78%,182.93%,10846145
2,3/2/2020,NaN,2,0,0,2,0,0,0.00%,0.00%,265185520
3,3/2/2020,Riau,1,0,0,1,0,1,0.00%,100.00%,6074100
4,3/3/2020,DKI Jakarta,2,0,0,43,20,75,46.51%,174.42%,10846145

In [4]:
print(kolom_pilihan.columns)
len(kolom_pilihan)
kolom_pilihan.shape[0]

Index(['Date', 'Province', 'New Cases', 'New Deaths', 'New Recovered',
       'Total Cases', 'Total Deaths', 'Total Recovered', 'Case Fatality Rate',
       'Case Recovered Rate', 'Population'],
      dtype='object')

31822

Save data yang baru dibersihkan

In [5]:
kolom_pilihan.to_csv(r"D:/rag_chatbot_covid_19/data/processed/covid_19_clean.csv", index=False)

In [6]:
kolom_pilihan.head(0)

Empty DataFrame
Columns: [Date, Province, New Cases, New Deaths, New Recovered, Total Cases, Total Deaths, Total Recovered, Case Fatality Rate, Case Recovered Rate, Population]
Index: []

Terjmahkan title kolom dari bahasa inggris ke bahasa indonesia

In [8]:
terjemahan = pd.read_csv(r"D:/rag_chatbot_covid_19/data/processed/covid_19_clean.csv")

kolom_terjemahan = {
    'Date': 'Tanggal',
    'Province': 'Provinsi',
    'New Cases': 'Kasus Baru',
    'New Deaths': 'Kematian Baru',
    'New Recovered': 'Sembuh Baru',
    'Total Cases': 'Total Kasus',
    'Total Deaths': 'Total Kematian',
    'Total Recovered': 'Total Sembuh',
    'Case Fatality Rate': 'Rasio Kematian Kasus',
    'Case Recovered Rate': 'Rasio Kesembuhan Kasus',
    'Population': 'Jumlah Penduduk'
}

terjemahan = terjemahan.rename(columns=kolom_terjemahan)

In [9]:
terjemahan.head(0)

Empty DataFrame
Columns: [Tanggal, Provinsi, Kasus Baru, Kematian Baru, Sembuh Baru, Total Kasus, Total Kematian, Total Sembuh, Rasio Kematian Kasus, Rasio Kesembuhan Kasus, Jumlah Penduduk]
Index: []

Save sebagai data berbahasa indonesia, agar cocok dipakai chatbot yang berbahasa indonesia

In [10]:
terjemahan.to_csv(r"D:/rag_chatbot_covid_19/data/processed/covid_19_indonesia.csv", index=False)

üìä CSV ‚Üí ubah ke teks

In [11]:
import pandas as pd

data = pd.read_csv(r"D:/rag_chatbot_covid_19/data/processed/covid_19_indonesia.csv")
data.head(0)

Empty DataFrame
Columns: [Tanggal, Provinsi, Kasus Baru, Kematian Baru, Sembuh Baru, Total Kasus, Total Kematian, Total Sembuh, Rasio Kematian Kasus, Rasio Kesembuhan Kasus, Jumlah Penduduk]
Index: []

**Cek Ulang data csv karna imbalance saat melakukan query**

In [17]:
import pandas as pd
data = pd.read_csv(r"D:/rag_chatbot_covid_19/data/processed/covid_19_indonesia.csv")

data.isnull().sum()
#data = data.fillna("")

Tanggal                     0
Provinsi                  929
Kasus Baru                  0
Kematian Baru               0
Sembuh Baru                 0
Total Kasus                 0
Total Kematian              0
Total Sembuh                0
Rasio Kematian Kasus        0
Rasio Kesembuhan Kasus      0
Jumlah Penduduk             0
dtype: int64

In [28]:
import pandas as pd
df = pd.read_csv(r"D:/rag_chatbot_covid_19/data/processed/covid_19_indonesia.csv")
df = df.dropna(subset=["Provinsi"])

df = df.fillna("")
df.head()

,Tanggal,Provinsi,Kasus Baru,Kematian Baru,Sembuh Baru,Total Kasus,Total Kematian,Total Sembuh,Rasio Kematian Kasus,Rasio Kesembuhan Kasus,Jumlah Penduduk
0,3/1/2020,DKI Jakarta,2,0,0,39,20,75,51.28%,192.31%,10846145
1,3/2/2020,DKI Jakarta,2,0,0,41,20,75,48.78%,182.93%,10846145
3,3/2/2020,Riau,1,0,0,1,0,1,0.00%,100.00%,6074100
4,3/3/2020,DKI Jakarta,2,0,0,43,20,75,46.51%,174.42%,10846145
6,3/3/2020,Jawa Barat,1,1,0,1,1,60,100.00%,6000.00%,45161325

In [ ]:
import pandas as pd

# 1Ô∏è‚É£ Baca data
df = pd.read_csv("D:/rag_chatbot_covid_19/data/processed/covid_19_indonesia.csv")

# 2Ô∏è‚É£ Bersihkan tanda persen dan ubah ke float
df['Rasio Kematian Kasus'] = df['Rasio Kematian Kasus'].str.replace('%', '').astype(float)
df['Rasio Kesembuhan Kasus'] = df['Rasio Kesembuhan Kasus'].str.replace('%', '').astype(float)

# 3Ô∏è‚É£ Hapus baris yang nilai rasionya tidak masuk akal (>100 atau <0)
df = df[(df['Rasio Kematian Kasus'] <= 100) & (df['Rasio Kesembuhan Kasus'] <= 100)]

# 4Ô∏è‚É£ Hapus baris tanpa provinsi
df = df.dropna(subset=['Provinsi'])

# 5Ô∏è‚É£ Reset index biar rapi
df = df.reset_index(drop=True)

# 6Ô∏è‚É£ Simpan versi bersih
#df.to_csv("D:/rag_chatbot_covid_19/data/processed/covid19_cleaned_final.csv", index=False)

print("‚úÖ Data sudah dibersihkan dan disimpan!")
print(df.head())

‚úÖ Data sudah dibersihkan dan disimpan!
    Tanggal Provinsi  Kasus Baru  Kematian Baru  Sembuh Baru  Total Kasus  \
0  3/2/2020     Riau           1              0            0            1
1  3/3/2020     Riau           0              0            0            1
2  3/4/2020     Riau           0              0            0            1
3  3/5/2020     Riau           0              0            0            1
4  3/6/2020     Riau           0              0            0            1

   Total Kematian  Total Sembuh  Rasio Kematian Kasus  Rasio Kesembuhan Kasus  \
0               0             1                   0.0                   100.0
1               0             1                   0.0                   100.0
2               0             1                   0.0                   100.0
3               0             1                   0.0                   100.0
4               0             1                   0.0                   100.0

   Jumlah Penduduk
0          6074100
1          6074100
2          6074100
3          6074100
4          6074100

In [31]:
df = df.fillna("")
df.head()

,Tanggal,Provinsi,Kasus Baru,Kematian Baru,Sembuh Baru,Total Kasus,Total Kematian,Total Sembuh,Rasio Kematian Kasus,Rasio Kesembuhan Kasus,Jumlah Penduduk
0,3/2/2020,Riau,1,0,0,1,0,1,0.0,100.0,6074100
1,3/3/2020,Riau,0,0,0,1,0,1,0.0,100.0,6074100
2,3/4/2020,Riau,0,0,0,1,0,1,0.0,100.0,6074100
3,3/5/2020,Riau,0,0,0,1,0,1,0.0,100.0,6074100
4,3/6/2020,Riau,0,0,0,1,0,1,0.0,100.0,6074100

In [32]:
df.to_csv(r"D:/rag_chatbot_covid_19/data/processed/covid19_final_version.csv")
print("(‚óè'‚ó°'‚óè) file sudah tersimpan di folder processed")

(‚óè'‚ó°'‚óè) file sudah tersimpan di folder processed

In [3]:
import pandas as pd
import json

# Baca data bersih
df = pd.read_csv("D:/chatbot_covid19_intern_procodecg/data/use/covid19_final_version.csv")

records = []
for _, row in df.iterrows():
    # Format persentase agar lebih rapi (dua angka di belakang koma)
    rasio_kematian = f"{row['Rasio Kematian Kasus']:.2f}%"
    rasio_sembuh = f"{row['Rasio Kesembuhan Kasus']:.2f}%"
    
    text = (
        f"Pada {row['Tanggal']}, di {row['Provinsi']}, tercatat {row['Kasus Baru']} kasus baru COVID-19, "
        f"{row['Kematian Baru']} kematian baru, dan {row['Sembuh Baru']} pasien sembuh. "
        f"Total kasus mencapai {row['Total Kasus']}, dengan {row['Total Kematian']} kematian dan "
        f"{row['Total Sembuh']} pasien sembuh. Rasio kematian kasus adalah {rasio_kematian}, "
        f"dan rasio kesembuhan adalah {rasio_sembuh}. "
        f"Jumlah penduduk wilayah ini adalah {row['Jumlah Penduduk']} orang."
    )
    
    records.append({"text": text})

# Simpan ke file JSONL
output_path = "D:/chatbot_covid19_intern_procodecg/data/processed/covid_19_to_narative.jsonl"
with open(output_path, "w", encoding="utf-8") as f:
    for r in records:
        f.write(json.dumps(r, ensure_ascii=False) + "\n")

print(f"‚úÖ File teks dengan format persentase disimpan di: {output_path}")

‚úÖ File teks dengan format persentase disimpan di: D:/chatbot_covid19_intern_procodecg/data/processed/covid_19_to_narative.jsonl